// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/recoleta');

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  src: local('Recoleta'), url('https://fonts.cdnfonts.com/s/31694/Recoleta-RegularDEMO.woff') format('woff');
}

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Recoleta", "Helvetica", "sans-serif";

h1 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: bold;
  color: #0E0000;
  font-weight: 600;
}

h4 {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: bold;
  color: #0E0000;
  font-weight: 500;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
