<div class="col-12 challenge-banner d-flex flex-column justify-content-end py-3">
  <div class="container text-center">
    <h1><strong>Well Done! <br> You've <br> Completed <br>Today's <br> Challenge!</strong></h1>
    <div></div>
    <br>
  </div>
</div>
<div class="container text-center">
  <div></div>
<br>
<br>
  <h4>Keep the ideas rolling</h4>
  <br>
  <p>Great work! You're on the right path. What will you make next?</p>
   <br>
   <br>
 <div class="d-grid gap-2 col-6 mx-auto my-4">
      <%= link_to "Check your journey so far" , dashboard_path,  class: "show-button btn btn-pink btn-lg rounded-pill mt-2 " %>
</div>

<div class="container"></div>
