<div class="d-flex justify-content-around">
  <% @unfinished_2_challenges.each do |unfinished| %>
    <%= link_to "/user_challenges/#{unfinished.id}/edit", class: "text-dark text-decoration-none" do %>
      <div class="dashboard-card my-3" style="width: 10rem; height: 10rem;">
        <div class="card-body">
          <%= image_tag "glass-icon.jpg", alt: "challenge icon", class: "glass-img"%>
        </div>
        <div class="d-flex justify-content-around align-items-center card-text">
          <% if unfinished.challenge.category == 'Creative Lesson' %>
            <i class="fa-solid fa-circle-play text-dark"></i>
          <% elsif unfinished.challenge.category == 'Creative Writing' %>
            <i class="fa-solid fa-book-open text-dark"></i>
          <% else %>
            <i class="fa-solid fa-paintbrush text-dark"></i>
          <% end %>
          <%= unfinished.challenge.name.titleize %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
