.challenge-banner {
  background-color: #BCF520;
  height: 30vh;
  border-radius: 0 0 30px 30px;
  // border-bottom: 2px solid black;
  // border-left: 2px solid black;
  // border-right: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.medium-banner {
  background-color: #BCF520;
  height: 22vh;
  border-radius: 0 0 30px 30px;
  // border-bottom: 2px solid black;
  // border-left: 2px solid black;
  // border-right: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.smaller-banner {
  background-color: #BCF520;
  height: 15vh;
  border-radius: 0 0 30px 30px;
  // border-bottom: 2px solid black;
  // border-left: 2px solid black;
  // border-right: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.navbar-banner {
  background-color: #BCF520;
}
