// .p-button:hover {
//   background-color: #FAEEDA !important;
// }

// .p-button:focus {
//   background-color: #FAEEDA !important;
// }

.form-update {
  opacity: 0;
  transition: opacity 1s;
}

.form-update.visible {
  opacity: 1;
}

.show-button, .preference-button {
  color: black;
  background-color: #D9D9D9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.preference-button.disabled {
  color: black !important;
  background-color: #D9D9D9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
}

.show-button:hover {
  background-color: #D9D9D9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: scale(1.1) perspective(1px);
  transition: transform 0.5s ease;
}

.preference-button:hover {
  background-color: #D9D9D9;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-pink {
  background-color: $pink;
  color: #ffffff;
  font-family: 'Caprasimo', serif;
}

.btn-lightpink {
  background-color: #FFC7F6;;
  color: black;
}

.btn-blue {
  background-color: $blue;
  color: #ffffff;
}
