.navbar-lewagon {
  background: white;
  height: 10vh;
}

.active {
  color: #fb6108;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-icon {
  // max-width: 30%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
